<!-- HEADER -->
<!-- NavBar menu left by: https://www.frontendfunn.com/bootstrap-4/boostrap-4-3-responsive-mobile-menu-left/ -->
<header>

  <nav class="navbar navbar-expand-lg navbar-dark justify-content-sm-start fixed-top"
       [ngClass]="screenWidth < 992 ? 'bg-primary' : ''" id="navbar">
    <div [ngClass]="screenWidth < 992 ? 'container-fluid' : 'container'">
      <button class="navbar-toggler align-self-start" type="button" style="border-color: transparent;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="assets/img/logo_nome.png" alt="Logo" class="img-fluid m-0 p-0 d-flex justify-content-center"
             width="130" title="Home">
      </a>
      <div
        class="collapse navbar-collapse p-4 pr-5 p-lg-0 mt-5 mt-lg-0 d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end mobileMenu"
        id="navbarSupportedContent" [ngClass]="screenWidth < 992 ? 'bg-primary' : ''">
        <ul class="navbar-nav align-self-stretch" [ngClass]="screenWidth < 992 ? 'mr-5 pr-5' : ''">
          <li class="nav-item active hvr-underline-from-center">
            <a class="nav-link border-0 rounded scroll" href="#galeria">ÍNICIO</a>
          </li>
          <li class="nav-item active hvr-underline-from-center">
            <a class="nav-link border-0 rounded scroll" href="#galeria">GALERIA</a>
          </li>
          <li class="nav-item active hvr-underline-from-center">
            <a class="nav-link border-0 rounded scroll" href="#quem-sou">QUEM SOU</a>
          </li>
          <li class="nav-item active hvr-underline-from-center">
            <a class="nav-link border-0 rounded scroll" href="#sobre">SOBRE</a>
          </li>
          <li class="nav-item active hvr-underline-from-center">
            <a class="nav-link border-0 rounded scroll" href="#contato">CONTATO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>

