<!-- Footer -->
<footer style="background-color: #222426" id="contato">
  <div class="container pt-4">
    <div class="text-light text-center pt-3" data-aos="zoom-in" data-aos-once="true" data-aos-duration="1500">
      <div class="row">
        <div class="col-12 col-md-6 mt-3">
          <p class="m-0">CONTATO</p>
          <p class="text-secondary">
            Email: <a href="mailto:exemplo@exemplo.com" style="color: #6c757d!important;">exemplo@exemplo.com</a>
            <br>Fone: <a href="tel:(00)1234-5678" style="color: #6c757d!important;">(00) 1234-5678</a></p>
        </div>
        <div class="col-12 col-md-6 mt-3">
          <div class="row">
            <div class="col-12">
              <p class="mb-2">CONECTE-SE COMIGO</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="https://twitter.com/wesley_bz" rel="noopener" target="_blank" title="Twitter">
                <i class="fab fa-twitter fa-2x text-white px-2"></i>
              </a>
              <a href="https://www.youtube.com/channel/UC_Zab0F0k0oMxvNgZeUfE5A?view_as=subscriber" rel="noopener" target="_blank"
                title="YouTube">
                <i class="fab fa-youtube fa-2x text-white"></i>
              </a>
              <a href="https://www.instagram.com/wesleyxbz/" rel="noopener" target="_blank" title="Instagram">
                <i class="fab fa-instagram fa-2x text-white px-2"></i>
              </a>
              <a href="https://steamcommunity.com/id/wesleyxbz" rel="noopener" target="_blank" title="Steam">
                <i class="fab fa-steam fa-2x" style="color: white;"></i>
              </a>
              <i class="fab fa-discord fa-2x text-white px-2" title="WesleyxBZ #8453"></i>
              <a href="https://github.com/WesleyxBZ" rel="noopener" target="_blank" title="GitHub">
                <i class="fab fa-github fa-2x" style="color: white;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-5 pb-2 text-white text-center">
          <p class="mb-0">© Copyright 2019 Wesley Belizario</p>
        </div>
      </div>
    </div>
  </div>
</footer>