<!-- FOOTER -->
<footer style="background-color: #222426" id="contato">
  <div class="container pt-4">
    <div class="text-light text-center pt-3" data-aos="zoom-in" data-aos-once="true" data-aos-duration="1500">
      <div class="row">
        <div class="col-12 col-md-6 mt-3">
          <p class="m-0">CONTATO</p>
          <p class="text-secondary">
            Email: <a href="mailto:exemplo@exemplo.com" style="color: #6c757d!important;">exemplo@exemplo.com</a>
            <br>Fone: <a href="tel:(00)1234-5678" style="color: #6c757d!important;">(00) 1234-5678</a></p>
        </div>
        <div class="col-12 col-md-6 mt-3">
          <div class="row">
            <div class="col-12">
              <p class="mb-2">CONECTE-SE COMIGO</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="https://twitter.com/wesley_bz" rel="noopener" target="_blank" title="Twitter">
                <fa-icon [icon]="faTwitter" size="3x" [classes]="['icon', 'text-white', 'px-2']"></fa-icon>
              </a>
              <a href="https://www.youtube.com/channel/UC_Zab0F0k0oMxvNgZeUfE5A?view_as=subscriber" rel="noopener"
                target="_blank" title="YouTube">
                <fa-icon [icon]="faYoutube" size="3x" [classes]="['icon', 'text-white', 'px-2']"></fa-icon>
              </a>
              <a href="https://www.instagram.com/wesleyxbz/" rel="noopener" target="_blank" title="Instagram">
                <fa-icon [icon]="faInstagram" size="3x" [classes]="['icon', 'text-white', 'px-2']"></fa-icon>
              </a>
              <a href="https://steamcommunity.com/id/wesleyxbz" rel="noopener" target="_blank" title="Steam">
                <fa-icon [icon]="faSteam" size="3x" [classes]="['icon', 'text-white', 'px-2']"></fa-icon>
              </a>
              <fa-icon [icon]="faDiscord" title="WesleyxBZ #8453" size="3x" [classes]="['icon', 'text-white', 'px-2']">
              </fa-icon>
              <a href="https://github.com/WesleyxBZ" rel="noopener" target="_blank" title="GitHub">
                <fa-icon [icon]="faGithub" size="3x" [classes]="['icon', 'text-white', 'px-2']"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-5 pb-2 text-white text-center">
          <p class="mb-0">© Copyright 2019 Wesley Belizario</p>
        </div>
      </div>
    </div>
  </div>
</footer>
