<!-- ABOUT -->
<section class="text-center bg-violet-gradient" id="about">
  <div class="container full-screen d-flex justify-content-center">
    <div class="align-self-center">
      <div class="row">
        <div class="col-12">
          <h1 class="text-light display-4" data-aos="zoom-in" data-aos-once="true" data-aos-duration="1200">SOBRE</h1>
        </div>
      </div>
      <div class="mt-5"></div>
      <div class="row">
        <div class="col-12" data-aos="zoom-in" data-aos-once="true" data-aos-duration="1200" data-aos-delay="1000">
          <p class="text-white">
            Este pequeno portifólio, mostra um pouco sobre mim e algumas das coisas das quais faço.
            <br>
            Fique livre para me contactar através das redes abaixo.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
