<section class="full-screen d-flex justify-content-center" id="about">
  <div class="mdc-layout-grid align-self-center">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12">
        <h1>SOBRE</h1>
      </div>
    </div>
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12">
        <p class="text-center">
          Este pequeno portifólio, mostra um pouco sobre mim e algumas das coisas das quais faço. Fique livre para me
          contactar através dos links abaixo.
        </p>
      </div>
    </div>
  </div>
</section>
