section {
  background-color: #222426;
}

fa-icon {
  color: var(--mdc-theme-on-primary);
  opacity: 0.5;
}

fa-icon:hover {
  opacity: 1;
}

p {
  color: var(--mdc-theme-on-primary);
}

.pt-4 {
  padding-top: 1.5rem !important;
}

fa-icon {
  font-size: 0.7em;
}

.text-gray {
  color: #6c757d!important;
}
