<!-- FOOTER -->
<footer class="bg-dark-gray" id="contact">
  <div class="container pt-4">
    <div class="text-light text-center pt-3">
      <div class="row">
        <div class="col-12 mt-3">
          <div class="row" data-aos="zoom-in" data-aos-once="true" data-aos-duration="1200">
            <div class="col-12">
              <p class="mb-2">CONECTE-SE COMIGO</p>
            </div>
          </div>
          <div class="row" data-aos="zoom-in" data-aos-once="true" data-aos-delay="1000" data-aos-duration="1200">
            <div class="col-12">
              <ng-container *ngFor="let icon of icons">
                <a href="{{icon.link}}" rel="noopener" target="_blank" title="{{icon.title}}">
                  <fa-icon [icon]="icon.icon" size="3x" [classes]="['text-white', 'px-2']"></fa-icon>
                </a>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-5 pb-2 text-white text-center">
          <p class="mb-0">© Copyright 2020 Wesley Belizario</p>
        </div>
      </div>
    </div>
  </div>
</footer>
