<section class="full-screen d-flex justify-content-center" id="gallery">
  <div class="mdc-layout-grid align-self-center">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12">
        <h1>GALERIA</h1>
      </div>
    </div>
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-6-phone mdc-layout-grid__cell--span-4-tablet
      mdc-layout-grid__cell--span-2-desktop">
        <a href="assets/img/galeria/high-quality/1.jpg" data-fancybox="gallery"
           data-caption="Festival de balonismo - 2016">
          <img src="assets/img/galeria/low-quality/1.jpg" class="img-fluid shadow" alt="Festival de balonismo - 2016"
               data-aos="flip-left" data-aos-once="true" data-aos-duration="1500" data-aos-delay="500"/>
        </a>
      </div>
      <div class="mdc-layout-grid__cell--span-6-phone mdc-layout-grid__cell--span-4-tablet
      mdc-layout-grid__cell--span-2-desktop">
        <a href="assets/img/galeria/high-quality/2.jpg" data-fancybox="gallery" data-caption="Por do sol de outubro">
          <img src="assets/img/galeria/low-quality/2.jpg" class="img-fluid shadow" alt="Por do sol de outubro"
               data-aos="flip-left" data-aos-once="true" data-aos-duration="1500" data-aos-delay="1000"/>
        </a>
      </div>
      <div class="mdc-layout-grid__cell--span-6-phone mdc-layout-grid__cell--span-4-tablet
      mdc-layout-grid__cell--span-2-desktop">
        <a href="assets/img/galeria/high-quality/3.jpg" data-fancybox="gallery"
           data-caption="Basílica de Nossa Senhora Medianeira">
          <img src="assets/img/galeria/low-quality/3.jpg" class="img-fluid shadow"
               alt="Basílica de Nossa Senhora Medianeira"
               data-aos="flip-left" data-aos-once="true" data-aos-duration="1500" data-aos-delay="1500"/>
        </a>
      </div>
      <div class="mdc-layout-grid__cell--span-6-phone mdc-layout-grid__cell--span-4-tablet
      mdc-layout-grid__cell--span-2-desktop">
        <a href="assets/img/galeria/high-quality/4.jpg" data-fancybox="gallery" data-caption="EXPOAER - 2017">
          <img src="assets/img/galeria/low-quality/4.jpg" class="img-fluid shadow" alt="EXPOAER - 2017"
               data-aos="flip-left" data-aos-once="true" data-aos-duration="1500" data-aos-delay="2000"/>
        </a>
      </div>
      <div class="mdc-layout-grid__cell--span-6-phone mdc-layout-grid__cell--span-4-tablet
      mdc-layout-grid__cell--span-2-desktop">
        <a href="assets/img/galeria/high-quality/5.jpg" data-fancybox="gallery" data-caption="Noite em P&B">
          <img src="assets/img/galeria/low-quality/5.jpg" class="img-fluid shadow" alt="Noite em P&B"
               data-aos="flip-left" data-aos-once="true" data-aos-duration="1500" data-aos-delay="2500"/>
        </a>
      </div>
      <div class="mdc-layout-grid__cell--span-6-phone mdc-layout-grid__cell--span-4-tablet
      mdc-layout-grid__cell--span-2-desktop">
        <a href="assets/img/galeria/high-quality/6.jpg" data-fancybox="gallery" data-caption="Um longo caminho">
          <img src="assets/img/galeria/low-quality/6.jpg" class="img-fluid shadow" alt="Um longo caminho"
               data-aos="flip-left" data-aos-once="true" data-aos-duration="1500" data-aos-delay="3000"/>
        </a>
      </div>
    </div>
  </div>
</section>
