<header>

  <div class="overlay"></div>

  <!-- Top menu -->
  <nav class="navbar navbar-expand-lg navbar-dark justify-content-sm-start fixed-top" id="navbar">
    <div [ngClass]="screenWidth < 992 ? 'container-fluid' : 'container'">
      <button class="navbar-toggler align-self-start" type="button" id="sidebarCollapse">
        <span class="ion ion-md-menu text-white"></span>
      </button>
      <a class="navbar-brand" href="#init">
        <img src="assets/img/header-logo.png" alt="Logo" class="img-fluid m-0 p-0 d-flex justify-content-center"
             width="120" title="Home">
      </a>
      <div class="collapse navbar-collapse p-lg-0 mt-5 mt-lg-0 justify-content-lg-end">
        <ul class="navbar-nav align-self-stretch">
          <li class="nav-item active hvr-underline-from-center" *ngFor="let item of itensMenu">
            <a class="nav-link border-0 rounded scroll text-white" href="{{item.link}}">{{item.title.toUpperCase()}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Sidebar  -->
  <div class="wrapper">
    <nav id="sidebar">
      <ul class="list-unstyled components">
        <li class="activee" *ngFor="let item of itensMenu">
          <a href="{{item.link}}" id="dismiss">
            <fa-icon [icon]="item.icon" class="pl-2 pr-3"></fa-icon>
            {{item.title}}
          </a>
        </li>
      </ul>
    </nav>
  </div>

</header>
