.link {
  text-decoration: none;
  color: #666666;
}

img {
  width: 120px;
  margin-top: 5px;
}

.ml {
  margin-left: 20px;
}

.mdc-top-app-bar {
  background-color: transparent;
}

.mdc-top-app-bar--fixed-scrolled {
  background-color: var(--mdc-theme-primary, #007bff);
}

.mdc-button {
  font-family: 'Montserrat', sans-serif !important;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}

.mdc-button:hover {
  border-bottom-style: solid;
  border-color: #fff;
  border-radius: 0px 0px 0px 0px;
}
