<!-- Sessão quem eu sou -->
<section class="bg-white" id="quem-sou">
  <div class="container full-screen d-flex justify-content-center">
    <div class="align-self-center">
      <div class="row">
        <div class="col-12">
          <h1 class="text-dark text-center" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="50"
            data-aos-once="true">QUEM SOU</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center mt-5 mb-3" data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000"
          data-aos-delay="300">
          <img class="img-fluid rounded mt-1" src="assets/img/foto-bio.jpg" alt="Card image cap"
            style="height: auto;">
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center" data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000"
          data-aos-delay="600">
          <p class="text-dark mb-1">Nasci na cidade de Santa Maria RS, onde resido hoje. Atualmente
            faço
            graduação em Sistemas para Internet na Universidade Federal de Santa Maria. Percebo que
            a
            área de TI está em constante desenvolvimento com novas evoluções
            todo dia. Pensando nisso, estou sempre na busca por conhecimento em minha área.</p>
          <p>Sou facinado por novas tecnologias e amo música. Estou constantemente aperfeiçoando o
            que
            aprendo e aprendendo coisas novas.</p>
        </div>
      </div>
    </div>
  </div>
</section>