<!-- WHO AM-->
<section class="bg-white" id="who-am">
  <div class="container full-screen d-flex justify-content-center">
    <div class="align-self-center">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center display-4" data-aos="zoom-in" data-aos-duration="1200" data-aos-once="true">
            QUEM SOU
          </h1>
        </div>
      </div>
      <div class="mt-5"></div>
      <div class="row">
        <div class="col-12" data-aos="zoom-in" data-aos-once="true" data-aos-duration="1200" data-aos-delay="1000">
          <p class="text-dark text-justify">
            <span class="pr-5"></span>
            Quem eu sou? Bom, vamos começar pela forma formal e fácil, nasci na cidade de Santa Maria/RS onde resido
            até o presente momento. Atualmente faço graduação em Sistemas para Internet na Universidade Federal de Santa
            Maria (UFSM). Percebo que a área de TI está em constante desenvolvimento com novas evoluções todo dia.
            Pensando nisso, estou sempre na busca por conhecimento em minha área.
            <br>
            Sou facinado por novas tecnologias e amo música (Mahmundi ❤). Estou em constante aprendizado nesse enorme
            mundo, ainda sou apenas um gafanhoto saindo para o mundo lá fora. O que o futuro me reserva? Não sei, não
            gosto de pensar no futuro, penso as vezes quando necessário. Viver o momento e aproveitar é o que gosto de
            fazer, não deu certo a ideia? Parto para outra.
            <br>
            Antes que eu me esqueça, representatividade importa 🏳️‍🌈.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
