<section class="full-screen d-flex justify-content-center" style="background-color: white" id="who-am">
  <div class="mdc-layout-grid align-self-center container">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12">
        <h1>QUEM SOU</h1>
      </div>
    </div>
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12">
        <p class="text-center">
          <img class="img-fluid" src="assets/img/foto-bio.jpg" alt="Card image cap">
        </p>
      </div>
    </div>
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12">
        <p class="text-center">
          Nasci na cidade de Santa Maria RS, onde resido hoje. Atualmente faço graduação em Sistemas para Internet na
          Universidade Federal de Santa Maria. Percebo que a área de TI está em constante desenvolvimento com novas
          evoluções todo dia. Pensando nisso, estou sempre na busca por conhecimento em minha área.
        </p>
        <p class="text-center">
          Sou facinado por novas tecnologias e amo música. Estou constantemente aperfeiçoando o que aprendo e
          aprendendo coisas novas.
        </p>
      </div>
    </div>
  </div>
</section>
