<!-- Galeria de imagens  -->
<section style="background-color: darkgray" id="galeria">
  <div class="container-fluid full-screen d-flex justify-content-center">
    <div class="align-self-center text-center py-5">
      <div class="row">
        <div class="col-12 mb-3 pt-3" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="100"
          data-aos-once="true">
          <h1 class="text-light">GALERIA DE HISTÓRIA</h1>
        </div>
      </div>
      <div class="row">
        <div class="m-0 p-0 col-6 col-sm-4 col-md-2 ">
          <a href="assets/img/galeria/high-quality/1.jpg" data-fancybox="gallery"
            data-caption="Festival de balonismo - 2016">
            <img src="assets/img/galeria/low-quality/1.jpg" class="img-fluid" alt="Festival de balonismo - 2016"
              data-aos="flip-left" data-aos-once="true" data-aos-duration="1200" data-aos-delay="300" />
          </a>
        </div>
        <div class="m-0 p-0 col-6 col-sm-4 col-md-2">
          <a href="assets/img/galeria/high-quality/2.jpg" data-fancybox="gallery" data-caption="Por do sol de outubro">
            <img src="assets/img/galeria/low-quality/2.jpg" class="img-fluid" alt="Por do sol de outubro"
              data-aos="flip-left" data-aos-once="true" data-aos-duration="1200" data-aos-delay="500" />
          </a>
        </div>
        <div class="m-0 p-0 col-6 col-sm-4 col-md-2">
          <a href="assets/img/galeria/high-quality/3.jpg" data-fancybox="gallery"
            data-caption="Basílica de Nossa Senhora Medianeira">
            <img src="assets/img/galeria/low-quality/3.jpg" class="img-fluid" alt="Basílica de Nossa Senhora Medianeira"
              data-aos="flip-left" data-aos-once="true" data-aos-duration="1200" data-aos-delay="700" />
          </a>
        </div>
        <div class="m-0 p-0 col-6 col-sm-4 col-md-2">
          <a href="assets/img/galeria/high-quality/4.jpg" data-fancybox="gallery" data-caption="EXPOAER - 2017">
            <img src="assets/img/galeria/low-quality/4.jpg" class="img-fluid" alt="EXPOAER - 2017" data-aos="flip-left"
              data-aos-once="true" data-aos-duration="1200" data-aos-delay="900" />
          </a>
        </div>
        <div class="m-0 p-0 col-6 col-sm-4 col-md-2">
          <a href="assets/img/galeria/high-quality/5.jpg" data-fancybox="gallery" data-caption="Noite em P&B">
            <img src="assets/img/galeria/low-quality/5.jpg" class="img-fluid" alt="Noite em P&B" data-aos="flip-left"
              data-aos-once="true" data-aos-duration="1200" data-aos-delay="1100" />
          </a>
        </div>
        <div class="m-0 p-0 col-6 col-sm-4 col-md-2">
          <a href="assets/img/galeria/high-quality/6.jpg" data-fancybox="gallery" data-caption="Um longo caminho">
            <img src="assets/img/galeria/low-quality/6.jpg" class="img-fluid" alt="Um longo caminho"
              data-aos="flip-left" data-aos-once="true" data-aos-duration="1200" data-aos-delay="1300" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>