<section id="init">
  <div class="mdc-layout-grid parrallax">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-0-phone mdc-layout-grid__cell--span-0-tablet
      mdc-layout-grid__cell--span-3-desktop"></div>
      <div class="mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-12-tablet
     mdc-layout-grid__cell--span-6-desktop text-top">
        <mdc-card class="demo-card">
          <mdc-ripple class="demo-card-article">
            <h2 class="demo-card-article__title" mdcHeadline5>"Seja você mesmo (mas não seja sempre o mesmo)".</h2>
          </mdc-ripple>
        </mdc-card>
        <p class="demo-card-article__snippet" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1500"
           mdcBody2>GABRIEL, O PENSADOR</p>
      </div>
      <div class="mdc-layout-grid__cell--span-0-phone mdc-layout-grid__cell--span-0-tablet
      mdc-layout-grid__cell--span-3-desktop"></div>
    </div>
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12 grid-center" data-aos="fade-up" data-aos-delay="2000"
           data-aos-offset="-200" data-aos-duration="1500">
        <a class="scroll" href="#gallery">
          <fa-icon [icon]="faAngleDown" size="3x" [classes]="['pulse']"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</section>
