<!-- Imagem de entrada -->
<section class="parrallax" id="inicio">
  <div class="container bqg">
    <div class="row">
      <div class="col-sm-0 col-md-2 col-lg-3"></div>
      <div class="col-sm-12 col-md-8 col-lg-6 px-5 text-center text-white"
        style="padding-top: 20vh; padding-bottom: 15vh;">
        <h3 class="bg-primary rounded font-italic p-2" data-aos="zoom-in" data-aos-duration="1000" style="font-size: 35px;">
          "Seja você mesmo (mas não seja sempre o mesmo)".
        </h3>
        <p class="text-right" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
          <small>GABRIEL,
            O PENSADOR</small></p>
      </div>
      <div class="col-sm-0 col-md-2 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-12 text-center" data-aos="fade-up" data-aos-delay="800" data-aos-offset="-200"
        data-aos-duration="1000">
        <a class="scroll" href="#galeria"><i class="fas fa-angle-down fa-3x text-white pulse"></i></a>
      </div>
    </div>
  </div>
</section>