$mdc-theme-primary: #007bff; // primary color
$mdc-theme-secondary: #388e3c; // secondary color

@import "~@angular-mdc/theme/material";

body{
  margin: 0;
  font-family: 'Montserrat', sans-serif!important;
}

.text-center {
  text-align: center!important;
}

.full-screen {
  height: 100vh;
}

.d-flex {
  display: flex!important;
}

.justify-content-center {
  justify-content: center!important;
}

.align-self-center {
  align-self: center!important;
}

h1 {
  color: var(--mdc-theme-on-primary);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}

.grid-center{
  margin-right: 50%;
  margin-left: 50%;
}

p {
  font-weight: 400;
}




