body {
    font-family: 'Montserrat', sans-serif;
}

.full-screen {
    height: 104vh;
}

.bqg {
    display: table-cell;
    vertical-align: middle;
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
